<div class='container'>
  <div class='row'>
    <div class='pt-3 pl-5 ml-5'>
      <h4 class='alart alert-secondary'>会員情報編集</h4>
    </div>
  </div>
    <div class='row py-3 col-md-8 align-content-start'>
      <%= form_with url: customers_infomation_path, model: @customer, local:true do |f| %>

        <div class="row mb-3 flex-nowrap">
          <%= f.label :"氏名", class:"col-md-4" %>
          <%= f.text_field :last_name  %>
          <%= f.text_field :first_name, class:"offset-md-1 col-md-3" %>
        </div>

        <div class="row mb-3 flex-nowrap">
          <%= f.label :"フリガナ", class:"col-md-4" %>
          <%= f.text_field :last_name_kana %>
          <%= f.text_field :first_name_kana, class:"offset-md-1 col-md-3" %>
        </div>

        <div class="row mb-3">
          <%= f.label :"郵便番号", class:"col-md-4" %>
          <%= f.text_field :postcode %>
        </div>

        <div class="row mb-3 flex-nowrap">
          <%= f.label :"住所", class:"col-md-4" %>
          <%= f.text_field :address, class:"col-md-12" %>
        </div>

        <div class="row mb-3">
          <%= f.label :"電話番号", class:"col-md-4" %>
          <%= f.text_field :telephone_number %>
        </div>

        <div class="row mb-3">
          <%= f.label :"メールアドレス", class:"col-md-4" %>
          <%= f.text_field :email %>
        </div>


        <div class="row mb-3 flex-nowrap">
          <div class="col-md-4"> </div>
          <%= f.submit "編集内容を保存",class: 'col-md-5 btn btn-sm btn-success' %>
          <%= link_to "退会する", customers_unsubscribe_path(@customer), class: 'col-md-3 offset-md-6 btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
