<div class='container'>
    <h5 class="col-lg-3 mb-5 mt-3 d-flex justify-content-center">
      <span class="py-2 px-4 bg-ligh alert-secondary">商品詳細</span>
    </h5>
    <div class="row">
      <div class="col-lg-5 d-flex justify-content-center">
        <%= image_tag @item.get_item_image,size: "300x260" %><br>
      </div>
      <div class="col-lg-5 d-flex justify-content-center">
        <table class = " ml-7 ">
          <body>
            <tr>
              <td>商品名</td>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= @item.introduction %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @item.genre.name %></td>
            </tr>
            <tr>
              <td>税込価格<br>(税抜き価格)</td>
              <td><%= converting_to_jpy(@item.unit_price) %></td>
            </tr>
            <tr>
              <td>販売ステータス　</td>
                <% if @item.is_on_sale? %>
              <td class="text-black-50">販売停止中</td>
                <% else %>
              <td class="text-success">販売中</td>
                <% end %>
            </td>
          </body>
        </table>
      </div>
    </div>
  <div class = "row">
    <div class = "col mt-5">
        <div class="center-block text-center">
      <%= link_to '編集する', edit_admin_item_path(@item), class: "btn btn-success btn-lg" %>
        </div>
    </div>
  </div>
</div>


