
<div class='container'>
      <h5 class="col-md-7 mb-4 mt-5"><span class="alert-secondary">管理者ログイン</span></h5>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col-auto">
            <table >
            <tr class="pl-5 pr-1">
              <td class="pl-5 pr-1">
                <%= f.label "メールアドレス"%>
              </td>
              <td>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'sample@example.com', :size=>"50" %>
              </td>
            </tr>
            <tr>
              <td class="pl-5">
                <%= f.label "パスワード" %>
              </td>
              <td>
                <%= f.password_field :password, autocomplete: "current-password",:size=>"50" %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= f.submit "ログイン", class: "btn btn-primary", :size=>"50" %>
              </td>
            </tr>
          </table>
          　<!--ワイヤーフレームにないので下記削除-->
            <!--<#% if devise_mapping.rememberable? %>-->
            <!--  <div class="field">-->
            <!--    <#%= f.check_box :remember_me %>-->
            <!--    <#%= f.label :remember_me %>-->
            <!--  </div>-->
            <!--<#% end %>-->
              <% end %>
           <%= render "admin/shared/links" %>
           </div>
          </div>
        </div>



</div>