<div class='container'>
  <div class='row'>
    <div class='col-md-10'>
      <div class="d-flex bd-highlight mb-3 mt-3 ">
        <h5 class="p-2 bd-highlight"><span class="py-2 px-4 bg-ligh alert-secondary">会員一覧</span></h5>
　　　</div>
　　　<div class='col-md-10 offset-2'>
        <table class="table table-hover table-inverse" >
          <thead class="thead-light">
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </thead>
          <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>

          <td>
            <%= link_to  admin_customer_path(customer.id) do %>
            <span class="text-dark border-bottom border-dark"><%=  customer.full_name %></span>
            <% end %>
          </td>

          <td><%= customer.email %></td>

          <% if customer.is_deleted? %>
            <td class="text-black-50">退会</td>
          <% else %>
            <td class="text-success">有効</td>
          <% end %>
        </tr>
        <% end %>
        <!--↓ページネーションの記載-->
        <%= paginate @customers %>
      </tbody>
        </table>
      </div>
    </div>
  </div>
</div>