<div class="container">
  <div class="row">
    <div class="pt-5 pl-5 ml-5 alart alert-seconday">
      <h4 class="alart alert-secondary px-3">配送先編集</h4>
    </div>
  </div>
      <div>
        <%= render 'error', address: @address %>
      </div>
      <div class="row mt-5 flex-nowrap">
          <%= form_with model: @address, method: :patch do |f| %>

          <div class="row mb-3 flex-nowrap">
            <%= f.label :"郵便番号(ハイフンなし)", class:"col-md-6" %>
            <%= f.text_field :postcode, class:"col-md-5",:placeholder => "0000000" %>
          </div>
          <div class="row mb-3 flex-nowrap">
            <%= f.label :"住所", class:"col-md-6" %>
            <%= f.text_field :address, class:"col-md-10",:placeholder => "東京都渋谷区代々木神園町0-0" %>
          </div>
          <div class="row mb-3 flex-nowrap">
            <%= f.label :"宛名", class:"col-md-6" %>
            <%= f.text_field :name, class:"col-md-5", :placeholder => "令和道子" %>
          </div>

          <div class="row pb-2 justify-content-end">
            <%= f.submit  "変更を保存",class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
</div>

