<div class="container">
  <div class="row">
    <div class="pt-5 pl-5 ml-5 alart alert-secondar">
      <h4 class="alart alert-secondary">配送先登録/一覧</h4>
    </div>
  </div>


  <div class="row">
    <%= render 'error', address: @address %>
  </div>
    <div class="row mt-5">
      <%= form_with model: @address do |f| %>

        <div class="col-12 mb-3 flex-nowrap text-nowrap">
          <%= f.label :postcode, "郵便番号(ハイフンなし)", class: "control-label" %>
          <%= f.text_field :postcode, class: "col-md-6 small",:placeholder => "0000000" %>
        </div>
        <div class="col-12 mb-3 flex-nowrap justify-content-center">
          <%= f.label :address, "住所", class: "control-label" %>
          <%= f.text_field :address, class: "small col-md-8 ml-6", :placeholder => "東京都渋谷区代々木神園町0-0" %>
        </div>
        <div class="col-10 mb-3 flex-nowrap justify-content-center">
          <%= f.label :name, "宛名", class: "control-label" %>
          <%= f.text_field :name, class: "small col-md-6", :placeholder => "令和道子" %>
        </div>

        <div class="row pb-2 justify-content-end">
          <%= f.submit  "新規登録",class: "btn btn-success" %>
        </div>
      <% end %>
    </div>


  <div class="row">
    <div class="col-md-10">

      <table class="table table-hover table-inverse table-bordered">
        <thead class="thead-light">
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <% @addresses.each do |address| %>
        <tbody>
          <tr>
            <td><%= '〒' + address.postcode %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td class='justify-content-center'>
              <%= link_to '編集する', edit_address_path(address.id), class: "btn btn-success btn-sm" %>
              <%= link_to '削除する', address_path(address.id),method: :delete, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>

    </div>
  </div>
</div>