<div class='container'>
  <div class='row'>
    <div class='col-md-8'>

      <h1>商品詳細</h1>
      <p><%= image_tag @item.get_item_image, size:'100x100' %></p>
      <p>商品名：<%= @item.name %></p>
      <p>商品説明文：<%= @item.introduction %></p>
      <p>¥ <%= @item.add_tax_price.to_s(:delimited) %> (税込)</p>
      <p>販売ステータス：<%= @item.is_on_sale_i18n %></p>
<!--↓10／23個数選択の記述(しま）-->
      <%= form_with model: CartItem, url: cart_items_path, method: :post do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.select :amount, *[1..10], { include_blank: '個数選択' }, class: "form-control col-md-2 mb-2 ", required:"required" %>
      <%= f.submit "カートに入れる"  %>
      <% end %>
    </div>
  </div>
</div>