<div>

  <h3>注文情報入力</h3>

  <%= form_with model: @order, url: orders_confirm_path, method: :post,local: true do |f| %>
    <div>
      <strong>支払方法</strong>
      <label>
        <%= f.radio_button :payment_method, :credit_card %>クレジットカード
      </label>
       <label>
        <%= f.radio_button :payment_method, :transfer %>銀行振込
      </label>
    </div>
    <div>
      <strong>お届け先</strong>
      <div>
        <%= f.radio_button :address_number, 1 %>
        <%= f.label :address_number_1, "ご自身の住所" %>
        <%= current_customer.address %>
      </div>
      <div>
        <%= f.radio_button :address_number, 2 %>
        <%= f.label :address_number_2, "登録済住所から選択" %>
        <%= f.collection_select(:registered, current_customer.addresses.all, :id, :address) %>
      </div>
      <div>
        <%= f.radio_button :address_number, 3 %>
        <%= f.label :address_number_3, "新しいお届け先" %>
        <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
        <%= f.text_field :postcode %>
        <%= f.label :address, "住所" %>
        <%= f.text_field :address %>
        <%= f.label :address_name, "宛名" %>
        <%= f.text_field :address_name %>
      </div>
      <%= f.submit "確認画面へ進む" %>
    </div>
  <% end %>
</div>